@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer utilities {
  .header-1 {
    @apply Nifty text-6xl leading-[4.5rem] tracking-[0.375rem] capitalize;
  }

  .header-2 {
    @apply Nifty text-4xl leading-[3rem] tracking-[0.375rem] capitalize;
  }

  .header-3 {
    @apply Nifty text-3xl leading-[2.4rem] tracking-[0.375rem] capitalize;
  }

  .header-4 {
    @apply Nifty text-2xl leading-[1.8rem] tracking-[0.375rem] capitalize;
  }

  .button {
    @apply Poppins text-xl leading-[1.875rem] font-bold capitalize;
  }

  .label {
    @apply Poppins text-xl leading-[1.875rem] font-bold tracking-[0.375rem] capitalize;
  }

  .placeholder {
    @apply Poppins text-xl leading-[1.875rem] tracking-[0.375rem];
  }

  .body {
    @apply Poppins text-xl leading-[1.875rem];
  }

  .body-sm {
    @apply Poppins text-base leading-[1.5rem];
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-neutral-1 w-full;
  }
}

@font-face {
  font-family: Poppins;
  src: url(@/assets/fonts/POPPINS-REGULAR.TTF)
}

.Poppins {
  font-family: Poppins;
}

@font-face {
  font-family: Nifty;
  src: url(@/assets/fonts/NIFTY-REGULAR.OTF)
}

.Nifty {
  font-family: Nifty;
}